.header{

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em;
            img {
                width: 220px;
            } 
    }
}
    