.header{

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em;
            img {
                width: 220px;
            } 
    }

    &-card {
        &__location {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            background: linear-gradient(180deg, rgba($colour-mediumgrey ,0.5) 0%, rgba($colour-grey ,1) 10%);

            span {
                margin-left: 1rem;
            }
        }

        &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 3rem;
            background: $colour-lightgrey;

        }

        &__title {
            margin-bottom: 1rem;
        }

        p {
            font-weight: 100;
        } 
        
    }
}
    