*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 2rem;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
  padding-left: 0;
}

header p {
  font-weight: 100;
}

.fonctionnement i {
  font-size: 1.3rem;
}

.fonctionnement p {
  font-weight: 500;
}

.footer__heading {
  font-family: 'Shrikhand', cursive;
  font-weight: 100;
}

.btn {
  padding: 1rem;
  margin: 1rem;
  color: #fff;
  background: linear-gradient(169deg, #ff79da 0%, #9356dc 90%);
  border-radius: 2rem;
}

.btn:hover {
  cursor: pointer;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
}

.header__logo img {
  width: 220px;
}

.header-card__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 126, 126, 0.5)), color-stop(10%, #eaeaea));
  background: linear-gradient(180deg, rgba(126, 126, 126, 0.5) 0%, #eaeaea 10%);
}

.header-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 3rem;
  background: #F6F6F6;
}

.header-card__title {
  margin-bottom: 1rem;
}

.header-card p {
  font-weight: 100;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.fonctionnement {
  margin: 2rem 0 1rem 0;
  padding: 2rem 1rem 2rem 1rem;
}

.fonctionnement__title {
  margin-bottom: 1rem;
}

.fonctionnement .fonct-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fonctionnement .fonct-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  max-width: 373px;
  padding: 1.8rem;
  margin: 0.5rem 1rem 0.5rem 1rem;
  background: #F6F6F6;
  border-radius: 1.4rem;
  -webkit-box-shadow: 0px 10px 10px rgba(126, 126, 126, 0.3);
          box-shadow: 0px 10px 10px rgba(126, 126, 126, 0.3);
  position: relative;
}

.fonctionnement .fonct-card--active {
  background: #f5edff;
}

.fonctionnement .fonct-card--active i {
  color: #9356DC;
}

.fonctionnement .fonct-card span {
  display: inline-block;
  width: 28px;
  height: 28px;
  padding-top: 6px;
  background-color: #9356DC;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  position: absolute;
  left: -12px;
  top: 1.8rem;
}

.fonctionnement .fonct-card__pre {
  color: #7E7E7E;
  margin: 0 1.5rem 0 0.5rem;
}
/*# sourceMappingURL=main.css.map */