*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 2rem;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
  padding-left: 0;
}

i {
  color: #353535;
}

footer i {
  color: #fff;
}

header p {
  font-weight: 100;
}

.restaurants .card__desc p {
  font-weight: 100;
}

.fonctionnement i {
  font-size: 1.3rem;
}

.fonctionnement p {
  font-weight: 500;
}

.footer__heading {
  font-family: 'Shrikhand', cursive;
  font-weight: 100;
}

.menu p {
  font-weight: 100;
}

strong {
  font-weight: 700;
}

.btn {
  padding: 1rem;
  margin: 1rem;
  width: auto;
  min-width: 200px;
  text-align: center;
  color: #fff;
  background: linear-gradient(169deg, #ff79da 0%, #9356dc 90%);
  border-radius: 2rem;
  -webkit-box-shadow: 0px 10px 10px rgba(126, 126, 126, 0.3);
          box-shadow: 0px 10px 10px rgba(126, 126, 126, 0.3);
}

.btn:hover {
  cursor: pointer;
  background: linear-gradient(169deg, #ff93e1 0%, #a16be0 90%);
  -webkit-box-shadow: 0px 10px 10px rgba(126, 126, 126, 0.5);
          box-shadow: 0px 10px 10px rgba(126, 126, 126, 0.5);
}

.styled-break {
  width: 40px;
  height: 3px;
  margin: 5px 0;
  background-color: #99E2D0;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
}

.header__logo img {
  width: 220px;
}

.header-card__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 126, 126, 0.5)), color-stop(10%, #eaeaea));
  background: linear-gradient(180deg, rgba(126, 126, 126, 0.5) 0%, #eaeaea 10%);
}

.header-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 3rem;
  background: #F6F6F6;
}

.header-card__title {
  margin-bottom: 1rem;
}

.header-card p {
  font-weight: 100;
}

.footer {
  background-color: #353535;
  color: #fff;
  padding: 1rem;
}

.footer__heading {
  margin-bottom: 1rem;
}

.footer__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__list-item li {
  margin-bottom: 0.5rem;
}

.footer__list-item i {
  display: inline-block;
  width: 20px;
}

.footer__list-item span {
  padding-left: 1rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .footer__list-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 75%;
  }
  .footer__list-item li {
    margin-bottom: 0.5rem;
  }
  .footer__list-item i {
    display: inline-block;
    width: 20px;
  }
  .footer__list-item span {
    padding-left: 1rem;
    font-weight: 500;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.fonctionnement {
  margin: 2rem 0 0 0;
  padding: 2.5rem 1rem 2rem 1rem;
}

.fonctionnement__title {
  margin-bottom: 1rem;
}

.fonctionnement .fonct-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .fonctionnement .fonct-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.fonctionnement .fonct-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 340px;
  max-width: 373px;
  padding: 1.8rem;
  margin: 0.8rem 1rem;
  background: #F6F6F6;
  border-radius: 1.4rem;
  -webkit-box-shadow: 0px 10px 10px rgba(126, 126, 126, 0.3);
          box-shadow: 0px 10px 10px rgba(126, 126, 126, 0.3);
  position: relative;
}

.fonctionnement .fonct-card--active {
  background: #f4ebff;
}

.fonctionnement .fonct-card--active i {
  color: #9356DC;
}

.fonctionnement .fonct-card span {
  display: inline-block;
  width: 28px;
  height: 28px;
  padding-top: 6px;
  background-color: #9356DC;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  position: absolute;
  left: -12px;
  top: 1.8rem;
}

.fonctionnement .fonct-card__pre {
  color: #7E7E7E;
  margin: 0 1.5rem 0 0.5rem;
}

.restaurants {
  margin: 2rem 0 0 0;
  padding: 2.5rem 1rem 2rem 1rem;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .restaurants .card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .restaurants .card-container .card {
    margin: 0;
    width: 350px;
  }
}

.restaurants h2 {
  margin-bottom: 1rem;
  width: 100%;
}

.restaurants .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 280px;
  width: 370px;
  margin: 1rem 0;
  border-radius: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 10px rgba(126, 126, 126, 0.3);
          box-shadow: 0px 10px 10px rgba(126, 126, 126, 0.3);
}

.restaurants .card__header {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  border-radius: 1rem 1rem 0 0;
}

.restaurants .card__header img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.restaurants .card__header .new {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0.5rem;
  background-color: #99E2D0;
  color: #278870;
  font-weight: 500;
  border-radius: 0.2rem;
}

.restaurants .card__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  position: relative;
}

.restaurants .card__desc h3 {
  margin-bottom: 0.5rem;
}

.restaurants .card__desc i {
  position: absolute;
  top: 31px;
  right: 30px;
}

.nav__link {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 1.3rem;
}

.header-image {
  overflow: hidden;
  height: 250px;
  position: relative;
}

.header-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  max-width: 100%;
}

.restaurant-main {
  margin-bottom: -45px;
}

.menu-container {
  padding: 2rem 1rem;
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  position: relative;
}

.menu-container__heart {
  position: absolute;
  top: 3rem;
  right: 50px;
}

.menu-container .menu {
  margin-top: 2rem;
}

.menu-container .menu .menu-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  .menu-container .menu .menu-card-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menu-container .menu__type {
  text-transform: uppercase;
}

.menu-container .menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 500px;
  -webkit-box-shadow: 0px 10px 10px rgba(126, 126, 126, 0.3);
          box-shadow: 0px 10px 10px rgba(126, 126, 126, 0.3);
}

@media screen and (min-width: 768px) {
  .menu-container .menu-card {
    max-width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .menu-container .menu-card {
    max-width: 30%;
  }
}

.menu-container .menu-card__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 85%;
}

.menu-container .menu-card__desc h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu-container .menu-card__desc p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu-container .menu-card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 10%;
}

.menu-container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */