
.heart-icon {
    &__cont {
        position: relative;
    }

    i {
        position: absolute;
    }
    .heart-bg {
        
        background: linear-gradient(169deg, rgba($colour-secondary ,1) 0%, rgba($colour-primary ,1) 90%);;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        opacity: 0;
        transition: all 0.5s ease-in-out;
       

        

        &:hover,
        &:active { 
            opacity: 0;
            animation: heart-fill 0.5s; 
            animation-fill-mode: both;
            cursor: pointer;
        }
    }

   
}

