body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: inherit;
}


ul li {
    list-style-type: none;
    padding-left: 0;
}

i {
    color: $colour-darkgrey;
}

footer i {
    color: $colour-white;
}

header p {
    font-weight: 100;
}

.restaurants {
   .card {
       &__desc {
           p {
               font-weight: 100;
           }
       }
   }
}

.fonctionnement{
    i {
    font-size: 1.3rem;
    }

    p {
        font-weight: 500;
    }
}

.footer__heading {
    font-family: 'Shrikhand', cursive;
    font-weight:100;
    
}

.menu p {
    font-weight: 100;
}

strong {
    font-weight: 700;
}