.fonctionnement {
    margin: $layout-margin;
    padding: $layout-padding;

    &__title {
        margin-bottom: 1rem;
    }

    .fonct-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .fonct-card {
        display: flex;
        align-items: center;
        width: 360px;
        max-width: 373px;
        padding: $fonct-padding;
        margin: 0.8rem 1rem; 
        background: $colour-lightgrey;
        border-radius: 1.4rem;
        box-shadow: $box-shadow;
        position: relative;

        &:hover,
        &:active {
            background: pastel($colour-primary);
            i {
                color: $colour-primary;
            }
        }

        span {
            display: inline-block;
            width: 28px;
            height: 28px;
            padding-top: 6px;
            background-color: $colour-primary;
            border-radius: 50%;
            text-align: center;
            color: $colour-white;
            position: absolute;
            left: -12px;
            top: $fonct-padding;
        }
        
        &__pre {
            color: $colour-mediumgrey;
            margin: 0 1.5rem 0 0.5rem;
            
            
        }
    
    }
}

.restaurants {
    margin: $layout-margin;
    padding: $layout-padding;
    background-color: $colour-lightgrey;


    .card-container {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2rem;
        

        @include media-desktop {
            grid-template-columns: 1fr 1fr; 
        }
    }


    h2 {

        width: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
        min-width: 280px;
        
        margin: 1rem 0;
        border-radius:1rem; 
        background-color: $colour-white;
            
        box-shadow: $box-shadow;

        &__header {
            position: relative;
            
            border-radius: 1rem 1rem 0 0;
             img {
                 height: 12rem;
                 width: 100%;
                 border-radius: 1rem 1rem 0 0;
                 object-fit: cover;
             }

     

            .new {
                position: absolute;
                top: 20px;
                right: 20px;
                padding: 0.5rem;
                background-color: $colour-tertiary;
                color: darken($colour-tertiary, 40%);
                font-weight: 500;
                border-radius: 0.2rem;
            }
        }


        &__desc {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            position: relative;

            h3 {
                margin-bottom: 0.5rem;
            }

            i {
                position: absolute;
                top: 20px;
                right: 20px;
            }

            
            
    
        }


    }
}