.nav {
    &__link {
        position :absolute;
        top: 20px;
        left: 30px;
        font-size: 1.3rem;
    }
}

.header {
    &-image {
        
        overflow: hidden;
        height: 250px;
        position: relative;
         img  {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: auto;
            max-width: 100%;
           
            }

    }
}

.restaurant-main {
    margin-bottom: $restaurant-translateY;
}

.menu-container {
    
    padding: 2rem 1rem;
    transform: translateY($restaurant-translateY);
    background-color: $colour-lightgrey;
    border-radius: 50px 50px 0 0;
    position: relative;

    .heart-icon i {
        position: absolute;
        top: 2.5rem;
        right: 50px; 
    }

    .menu {

        .menu-card-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include media-desktop {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
      
        }
        margin-top: 2rem;

        &__type {
            text-transform: uppercase;
        } 

        &-card {
            display: flex;
            justify-content: space-between;
            background-color: $colour-white;
            margin: 1rem;
            padding: 1rem;
            border-radius: 1rem;
            width: 100%; 
            max-width: 500px;
            box-shadow: $box-shadow;
            @include media-tablet {
               max-width: 600px;
            }
            @include media-desktop {
                max-width: 30%;
            }


            &__desc {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 85%;
                h3 {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    
                }
                p {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
 
            }
                
            

            &__price {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                width: 10%;
            }
        } 
    }
    .btn-container {
        display: flex;
        align-items: center;
        justify-content: center; 
    }
}
    