@mixin img-ratio {
    width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}

@mixin btn {
    padding: 1rem;
    margin: 1rem;
    width: auto;
    min-width: 200px;
    text-align: center;
    color: $colour-white;
    background: linear-gradient(169deg, rgba($colour-secondary ,1) 0%, rgba($colour-primary ,1) 90%);
    border-radius: 2rem;
    box-shadow: $box-shadow;

    &:hover {
        cursor: pointer;
        background: linear-gradient(169deg, rgba(lighten($colour-secondary, 5%) ,1) 0%, rgba(lighten($colour-primary, 5%) ,1) 90%);
        box-shadow: $box-shadow-dark;
    }
   

}


@mixin styled-break {
    width: 40px;
    height: 3px;
    margin: 5px 0;
    background-color: $colour-tertiary;
}

@mixin media-tablet{
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}