@mixin img-ratio {
    width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}

@mixin btn {
    padding: 1rem;
    margin: 1rem;
    color: $colour-white;
    background: linear-gradient(169deg, rgba($colour-secondary ,1) 0%, rgba($colour-primary ,1) 90%);
    border-radius: 2rem;
}


@mixin styled-break {
    width: 100px;
    height: 10px;
    background-color: $colour-tertiary;
}