$colour-primary: #9356DC ;
$colour-secondary: #FF79DA ;
$colour-tertiary: #99E2D0;
$colour-grey: #EAEAEA;
$colour-lightgrey:#F6F6F6;
$colour-mediumgrey:#7E7E7E;
$colour-darkgrey:#353535;
$colour-white: #fff;
$colour-invalid: #DB464B;

$layout-margin: 2rem 0 1rem 0;
$layout-padding: 2rem 1rem 2rem 1rem;
